.App {
  text-align: center;
}

.inline-block-element{
  display: inline-block;
  vertical-align: top;
}

.timesNewRoman12pt,
.timesNewRoman13pt,
.timesNewRoman14pt,
.timesNewRoman15pt,
{
    font-family: "Times New Roman", Times, serif;
}

.timesNewRoman12pt {
    font-size: 1em;
}

.timesNewRoman13pt {
    font-size: 1.05em;
}

.timesNewRoman14pt {
    font-size: 1.2em;
}

.timesNewRoman15pt {
    font-size: 1.3em;
}